<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd

		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">



  <!-- scan the specified packages for annotated beans, like @Service, @Component  -->
  <context:component-scan base-package="com.epam.electronicstore" >
    <!-- we exclude the controllers. Those will be instantiated from the MVC servlet Spring context -->
    <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
  </context:component-scan>

  <!-- support for @Autowired, @Required, @PersistenceContext, etc. -->
  <context:annotation-config />

  
</beans>